@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Proyecto>

@if (Model is not null)
{
    <div class="text-center" style="padding-top: 6rem;">
        <h1>Mis trabajos recientes</h1>
        <p>Estos son algunos de los proyectos en los que he trabajado recientemente.</p>
    </div>


    <div class="container">

        <div class="row rows-col-1 row-cols-md-3 g-4">

            @foreach (var proyecto in Model)
            {
                <div class="col">

                    <div class="card h-100">

                        <img src="@proyecto.ImagenURL" class="card-img-top" alt="@proyecto.Titulo" />

                        <div class="card-body">
                            <h5 class="card-title">@proyecto.Titulo</h5>
                            <p class="card-text">@proyecto.Descripcion</p>
                        </div>

                        <div class="card-footer">
                            <a href="@proyecto.Link" class="btn btn-primary" target="_blank">Ver más</a>
                        </div>

                    </div>

                </div>
            }

        </div>

    </div>
}